/* overriding base a little, no offense saman :p */
body {
    font: 16px/24px "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
}

/* override mapbox.js */
.leaflet-bar a:hover:first-child, .leaflet-bar a:hover:last-child, .leaflet-bar, .leaflet-control-layers {
    border-radius: 0;
    border: 0px;
}

.leaflet-container .leaflet-control-attribution {
    background-color: rgba(0,0,0,0.75);
}

.leaflet-container .leaflet-control-attribution a, .leaflet-container .map-info-container a {
    color: rgba(255,255,255,0.5);
}

.mapbox-improve-map {
    display: none;
}

/* end overriding */

body { min-width: 800px; }
a { color: #666; }
a:hover { color: #000; }

#sidebar {
    width: 250px;
    height: 100%;
}

#sidebar a {
    display: block;
}

#sidebar a.selected {
    background-color: #000;
    color: white;
    font-weight: bold;
}

#top-section {
    padding-bottom: 0;
}

#sidebar .container {
    line-height: 2em;
}

#main {
    margin-left: 250px;
}

#map {
    width: 100%;
    height: 100%;
}

#actions h2 {
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-left: 1px solid black;
    text-transform: uppercase;
}

#actions h2:first-of-type {
    border-left: none;
}

#actions h2:hover {
    background: black;
}

#error-message {
    top: 0px;
    position: absolute;
    text-align: center;
    z-index: 999;
    width: 100%;
    display: none;
}

.fill-dark {
    background-color: rgba(0,0,0,0.75);
}

.fill-black {
    background: #000;
    color: white;
}
