dark = #000
trans = rgba(0, 0, 0, 0.75)
glow = rgba(255, 255, 255, 0.5)
disabled = rgba(0, 0, 0, 0.5)
mid = #333
bright = #fff

body
    margin: 0
    padding: 0
    background:dark
    color: glow

#tofix a
    color: glow

#map
    position:absolute
    top: 0
    bottom: 0
    width: 100%
    background: dark

.controls, #login, #name
    position: absolute
    background-color: trans
    z-index: 9001
    &:hover, &.active
        background: dark
        color: bright
        cursor: pointer

#menu
    top: 0px
    left: 0px
    padding: 10px 0
    position: absolute
    background-color: trans
    z-index: 9001
    a
        display: block
        padding: 5px 15px
        &.active
            color: bright

#skip, #edit, #fixed
    text-align: center
    width: 33.3333%
    line-height: 80px
    font-size: 30px
    bottom: 0px
    color: bright
    cursor: pointer

#edit
    left: 0

#skip
    border-left: 1px solid black
    left: 33.3333%

#fixed
    border-left: 1px solid black
    right: 0

#login
    cursor: pointer
    padding: 15px 20px
    text-align: center
    bottom: 10px
    left: 10px
    color: bright

.leaflet-bar, #map .leaflet-control-layers
    border: 0px
    background: dark

.leaflet-bar a, .leaflet-bar a:hover
    border-bottom: none
    border-bottom-color: rgba(0,0,0,0)

#name
    color: bright
    width: 250px
    text-align: center
    padding: 10px 15px
    line-height: 55px
    font-size: 20px
    left: 45%

.disabled
    cursor: default !important
    opacity: 0.5
    &:hover
        cursor: default !important
        opacity: 0.5
        background: trans
