#top-bar {
    height: 40px;
}

#top-buttons {
    height: 40px;
    text-align: right;
}

#main {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
}

#map {
    position: relative;
    width: 100%;
    bottom: 0;
}

#slider {
    height: 50px;
    width: 10px;
    top: 300px;
    bottom: 0;
    position: absolute;
    z-index: 9999;
}

#actions h2 {
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-left: 1px solid black;
    text-transform: uppercase;
}

#actions h2:first-of-type {
    border-left: none;
}

#actions h2:hover {
    background: black;
}

#error-message {
    top: 0px;
    position: absolute;
    text-align: center;
    z-index: 999;
    width: 100%;
    display: none;
}

.fill-dark {
    background-color: rgba(0,0,0,0.5);
}
