/* Base overrides
------------------------- */
body {
  font:13px/20px 'Helvetica Neue', Helvetica, sans-serif;
  color:rgba(0,0,0,0.75);
  }
h1, h2, h3, h4, h5, h6,
.strong,
.tabs a,
.button {
  font-family:'Helvetica Neue', Helvetica, sans-serif;
  }
.strong { font-weight:bold; }
.tabs a,
.button {
  font-weight:bold;
  font-size:13px;
  line-height:18px;
  }
.tabs a {
  border-width:0 0 0 1px;
  padding:10px 20px;
  }
.tabs .unround {
  border-radius:0;
  }
.button               { background-color:transparent; color:rgba(0,0,0,0.5); }
.button:hover         { background-color:rgba(0,0,0,0.10); color:rgba(0,0,0,0.75); }
.button.active        { background-color:#222b30; color:#fff; }

/* Base candidates
------------------------- */
.row-60     { height:60px; }
.space-top6 { top:60px; }
.vhidden    { visibility:hidden; }

/* Override mapbox.css
------------------------- */
.mapbox-improve-map { display: none; }

/* Layout
------------------------- */
.sidebar.active ~ .main { width:75%; left:25%; }

.map {
  width:100%;
  height:100%;
  bottom:0;
  }

/* Components
------------------------- */
header .title {
  font-size:20px;
  line-height:60px;
  color:rgba(0,0,0,0.5);
  margin:0;
  }
.sidebar-toggle:hover,
.sidebar-toggle.active { background-color:rgba(0,0,0,0.10); }

.sidebar a.selected {
  background-color: #000;
  color:white;
  }

#user-stuff {
  position:absolute;
  bottom:0;
  width:100%;
  }
.error,
.note {
  display:none;
  }
.note {
  background-color:black;
  color:white;
  }

.settings select {
  margin-top:5px;
  }
.settings:target {
  bottom:0;
  opacity:1;
  }
.avatar {
  height:20px;
  margin-right:10px;
  }
#iD {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:2000;
  }
#iD_escape {
  position:absolute;
  right:0;
  bottom:100px;
  padding:10px 20px;
  color:black;
  font-weight:bold;
  z-index:2015;
  cursor:pointer;
  }
