<div id='map' class='js-mode mode active map fill-navy-dark'>
  <div id='editbar' class='pin-topleft pad1 z1'>
    <div class='fill-darken3 dark round'>
      <span class='pad2x strong quiet inline'><%= window.current.error %></span>
      <nav id='actions' class='fill-darken0 round-right tabs short'><!--
        --><a href='#' id='edit' class='animate unround<% if (!obj.auth) { %> hidden <% } %>'>Edit</a><!--
        --><a href='#' id='skip' class='keyline-left animate'>Skip</a><!--
        --><a href='#' id='fixed' class='keyline-left animate<% if (!obj.auth) { %> hidden <% } %>'>Fixed</a>
      </nav>
    </div>
  </div>
  <a href='#' id='iD_escape' class='hidden z10000 fill-orange button rcon next round animate pad1y pad2x strong'>Next task</a>
</div>
