<form id='modal-name' class='modal-popup' method='post'>
  <div class='col4 modal-body fill-white contain'>
    <a href='#close' class='quiet pad1 icon fr close'></a>
    <div class='pad1 center'>
      <h2>Settings</h2>
    </div>
    <div class='pad2x pad1y'>
      <div class='pad1y'>
        <h3 class='col3'>Editor:</h3>
        <select name='select' class='select'>
          <option class='' value='ideditor'>iD</option>
          <option class='' value='autoeditor' selected='true'>pick automatically</option>
          <option class='' value='josmeditor'>JOSM</option>
        </select>
      </div>
    </div>
  </div>
</form>
