<div class='scroll-styled pad2y'>

  <span class='dark block pad1x space-bottom1'>Account</span>
  <div id='user-stuff' class='space-bottom2 col12 clearfix mobile-cols'>
    <% if (obj.authed) { %>
      <a class='block truncate strong small col6 pad1x pad0y dark' target='_blank' href='http://www.openstreetmap.org/user/<%= obj.username %>' title='Profile on OpenStreetMap'>
        <img class='dot avatar' src='<%= obj.avatar %>'><%= obj.username %>
      </a>
      <div class='col6 pad1x text-right'>
        <a href='#' class='js-logout rcon logout button small'>Logout</a>
      </div>
    <% } else { %>
      <div class='pad1x'>
        <a href='#' class='js-login icon account button small'>login to edit</a>
      </div>
    <% } %>
  </div>

  <span class='dark block pad1x space-bottom1'>Tasks</span>
  <nav id='tasks' class='space-bottom2'>
    <% Object.keys(obj.tasks).forEach(function(task) { %>
      <a class='block strong dark pad1x pad0y truncate<% if (obj.current == task) { %> active<% } %>' href='?error=<%= task %>'>
        <%= tasks[task].title %>
      </a>
    <% }); %>
  </nav>

</div>
