<div class='scroll-styled pad2y'>

  <span class='dark block pad1x space-bottom1'>Account</span>
  <div id='user-stuff' class='space-bottom2 col12 clearfix'>
    <% if (obj.authed) { %>
      <a class='block truncate strong small col6 pad1x dark' target='_blank' href='http://www.openstreetmap.org/user/<%= obj.username %>' title='Profile on OpenStreetMap'>
        <img class='dot avatar' src='<%= obj.avatar %>'><%= obj.username %>
      </a>
      <a id='logout' class='col6 text-right block dark truncate small pad1x icon logout' href='#' title='Logout'></a>
    <% } else { %>
      <a href='#' id='login' class='pad1x strong block dark truncate icon account'>login to edit</a>
    <% } %>
  </div>

  <span class='dark block pad1x space-bottom1'>Tasks</span>
  <nav id='tasks' class='space-bottom2'>
    <% Object.keys(obj.tasks).forEach(function(task) { %>
      <a class='block strong dark pad1x pad0y truncate<% if (obj.current == task) { %> active<% } %>' href='?error=<%= task %>'>
        <%= tasks[task].title %>
      </a>
    <% }); %>
  </nav>

</div>
